.card {
    margin-bottom: 10px;
}
.card-img-top {
    height: 150px;
    width: auto
}
.card-footer {
    padding: 0px;
}
.addToCart {
    border-radius: 0;
}

.card-footer button {
    cursor: pointer;
}